html {
  background-color: #333232;
  height: 100%;
}

.priority {
  color: red;
}
.container {
  border: 5px solid red;
  border-radius: 50px;

  background-color: #fff;
  padding-left: 12vw;
  height: 30vw;
  width: 40%;
  margin-left: 28vw;
  margin-top: 5vw;
}
.tittle {
  font-size: 50px;
  color: black;
}

@media (max-width: 800px) {
  .container {
    height: 80vh;
    width: 80vw;
    margin-left: 2vw;
  }
  .cont {
    display: flex;
    flex-direction: column;
    padding-right: 10vw;
  }
  #addList {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #addList1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #delList {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #inputF {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
